.start-breath {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #0000009e;
  justify-content: space-around;
}

.breathe-title {
  font-weight: 500;
}

.breathe-subtitle {
  color: #c2c2c3;
}

.begin {
  background-color: #00feff;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 32px;
  border-radius: 24px;
  border: none;
}

.symbol {
  opacity: 0;
  animation-name: appearance;
  animation-timing-function: ease;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
