.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 560px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: auto;
}

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  overflow: hidden;
  padding: 15px 32px;
}

.page-responsive {
  width: 100%;
}
