.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.container__input {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 27px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hover */
/* .container__input:hover .container__checkbox ~ .container__checkmark {
  background-color: #ccc;
} */

.container__input .container__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container__input .container__checkbox:checked ~ .container__checkmark {
  background-color: #878585;
}

.container__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /* background-color: #878585; */
  border: solid 2px #878585;
  border-radius: 5px;
}

.container__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container__input .container__checkbox:checked ~ .container__checkmark:after {
  display: block;
}

.container__checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container__text {
  text-align: left;
  line-height: 1.2;
  color: #878585;
  font-weight: 500;
}
